@import "../../../styles/colours.scss";

.readyButtonContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.readyButton {
    width: 400px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: $lagoon;
    border-radius: 20px;
}
