@import "../../styles/colours.scss";
@import "../../styles/dimensions.scss";

.button {
    cursor: pointer;
    padding: 7px 21px;

    min-width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: white;
    border: 5px $lagoon solid;

    &:hover {
        border: 5px $lagoon solid;
    }

}

.button:disabled {
    cursor: default;
    border: 5px $grey solid;
}

.valid {
    border-color: $green;
}

.invalid {
    border-color: $ruby;
}