@import "../../styles/colours.scss", "../../styles/dimensions.scss";

.pageTemplate {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: $gravel;
}

.appContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}